<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692247382882-g9p7esuhak8u4fi2385078stq9u6aapi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692247382882-g9p7esuhak8u4fi2385078stq9u6aapi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692247382882-a7c55jobu4rut5qfemm3v6fumqi6aagr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOyLFlUFbFGj_Z00SXhIEHGH-8XFSQ-c8</string>
	<key>GCM_SENDER_ID</key>
	<string>692247382882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stateManagment</string>
	<key>PROJECT_ID</key>
	<string>provide-with-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>provide-with-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692247382882:ios:e4a5150f17d01be0d5ba3b</string>
	<key>DATABASE_URL</key>
	<string>https://provide-with-flutter.firebaseio.com</string>
</dict>
</plist>